.texto-menor {
    font-size: 13px;    
}
.divs-facilidades {
    width: 325px;
}
.botao-lilas {
    background-color: #9353FF;
}
.verde-limao {
    color: #DAFF01;
}
.posicao{
    top: 60%;
}
@media(max-width: 767px){
    .posicao{
        top:60%;
    }
}

/* Adicionado ao ver que estava diferente do exibido no vídeo... */
.div-novidades {
    width: 325px;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

}

